@import url('https://fonts.googleapis.com/css2?family=Recursive:wght@400;700&family=Righteous&display=swap');

body {
    background-color: #FB6B6B;
}

button {
    cursor: pointer;
}

button:hover {
    filter: brightness(0.9);
}

.home {
    width: 60%;
    margin: 100px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.home h1, .logo h1 {
    margin-top: 40px;
    font-size: 36px;
    font-weight: 400;
    font-family: 'Righteous', cursive;
    line-height: 44.7px;
    color: #FFFFFF;
}

.home button {
    margin-top: 40px;
    width: 246px;
    height: 54px;
    border-radius: 5px;
    background-color: #FFFFFF;
    border: 1px solid #D70900;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    color: #D70900;
    font-weight: 400;
    font-size: 18px;
    font-family: 'Recursive', sans-serif;
}

.logo {
    width: 240px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    width: 52px;
    height: 60px;
}

.logo h1 {
    margin-bottom: 36px;
}

.cards {
    margin-bottom: 100px;
}

.card {
    margin: 20px auto;
    width: 300px;
    min-height: 65px;
    border-radius: 5px;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
}

.card-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 65px;
}

.card-title p {
    margin-left: 20px;
    font-size: 16px;
    font-weight: 700;
    font-family: 'Recursive', sans-serif;
    color: #333333;
}

.card-title img {
    margin-right: 20px;
}

.footer {
    width: 100%;
    min-height: 70px;
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: fixed;
    bottom: 0;
    left: 0;
}

.footer h1 {
    font-size: 18px;
    font-weight: 400;
    font-family: 'Recursive', sans-serif;
    color: #333333;
}

.result div {
    margin: 0 auto;
    width: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.result h3 {
    font-size: 18px;
    font-weight: 700;
    font-family: 'Recursive', sans-serif;
    margin-top: 14px;
    margin-bottom: 8px;
    text-align: center;
    color: #333333;
}

.result p {
    font-size: 18px;
    font-weight: 400;
    font-family: 'Recursive', sans-serif;
    margin-bottom: 10px;
    width: 222px;
    text-align: center;
    color: #333333;
}

.result button {
    cursor: pointer;
    margin: 10px 0;
    width: 167px;
    height: 32px;
    border: none;
    border-radius: 5px;
    background-color: #FB6B6B;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Recursive', sans-serif;
}

.result button:hover {
    filter: brightness(0.9);
}

.question {
    min-height: 130px;
    position: relative;
}

.answer {
    height: 140px;
}

.question p, .answer p {
    padding-top: 14px;
    padding-left: 10px;
    font-family: 'Recursive', sans-serif;
    font-size: 18px;
    font-weight: 400px;
    color: #333333;
}

.answer p {
    height: 76px;
}

.question img {
    padding-top: 60px;
    padding-left: 250px;
}

.buttons {
    margin-top: 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.buttons button {
    width: 85px;
    height: 37px;
    border-radius: 5px;
    border: none;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: 400;
    font-family: 'Recursive', sans-serif;
}

.buttons :nth-child(1) {
    background-color: #FF3030;
}

.buttons :nth-child(2) {
    background-color: #FF922E;
}

.buttons :nth-child(3) {
    background-color: #2FBE34;
}

.scratch-title {
    text-decoration-line: line-through;
}

.icons-result {
    width: 110px;
    min-height: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icons-result img {
    margin: 8px 2px;
}

.hidden {
    display: none;
}